body {
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/051/262/original/background.jpg?1667438506);
  background-repeat: no-repeat;
  background-position: 10%;
  background-size: auto;
}

h1 {
  color: rgb(176, 226, 238);
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 0%;
}
ul {
  margin: 0%;
  padding: 0%;
}
li {
  list-style: none;
  margin: 0%;
  padding: 0%;
  color: rgb(210, 214, 218);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}
li:first-letter {
  text-transform: capitalize;
}

.weather-app-wrap {
  max-width: 600px;
  margin: 30px auto;
  font-family: Cambria, Cochin, "Georgia", Times, Times New Roman, serif;
}
.weather-app {
  padding: 40px 50px;
  border: 1px solid #dadde1;
  border-radius: 25px 10px;
  background: rgb(48, 102, 143);
  background: linear-gradient(
    309deg,
    rgba(48, 102, 143, 1) 10%,
    rgba(12, 122, 135, 0.927608543417367) 35%,
    rgba(1, 21, 45, 0.8687850140056023) 64%,
    rgba(0, 71, 39, 0.6166841736694677) 86%
  );
}
.weather-temperature img {
  margin-right: 7px;
  height: 64px;
  width: 64px;
}
.weather-temperature strong {
  color: rgb(231, 231, 240);
  font-size: 67px;
  line-height: 1;
  font-weight: 400;
}
.weather-temperature .units {
  position: relative;
  font-size: 30px;
  top: -30px;
  color: darkgrey;
}
.weather-forecast {
  margin-top: 16px;
  text-align: center;
  font-weight: 500px;
  color: rgb(255 255 255);
  border-radius: 10px;
  background-color: rgb(125 138 138 / 7%);
}

.btn-search {
  padding: 6px 27px;
  background: #77b2b6;
  border-radius: 5px;
  color: #fff;
  border: 1px solid #a8c2c4;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.btn-search:hover {
  background: white;
  color: #78b7bb;
}
.weather-forecast-date {
  font-size: 18px;
  color: rgb(217 242 255 / 74%);
}

.weather-forecast-temp-min {
  opacity: 0.7;
}
.weather-forecast-temp {
  font-size: 15px;
}
small {
  color: white;
}
@media (max-width: 500px;) {
  .container {
    padding: 0%;
  }
  .weather-app {
    padding: 0%;
  }

}