body {
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/051/262/original/background.jpg?1667438506);
  background-repeat: no-repeat;
  background-position: 10%;
  background-size: auto;
}

h1 {
  color: rgb(176, 226, 238);
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 0%;
}
ul {
  margin: 0%;
  padding: 0%;
}
li {
  list-style: none;
  margin: 0%;
  padding: 0%;
  color: rgb(210, 214, 218);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}
li:first-letter {
  text-transform: capitalize;
}

.weather-app-wrap {
  max-width: 600px;
  margin: 30px auto;
}
.weather-app {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 25px 10px;
  background: rgb(48, 102, 143);
  background: linear-gradient(
    309deg,
    rgba(48, 102, 143, 0.6615021008403361) 10%,
    rgba(61, 94, 98, 1) 34%,
    rgba(1, 21, 45, 0.927608543417367) 59%
  );
}
.weather-temperature img {
  margin-right: 7px;
  height: 64px;
  width: 64px;
}
.weather-temperature strong {
  color: rgb(231, 231, 240);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}
.weather-temperature .units {
  position: relative;
  font-size: 20px;
  top: -30px;
  color: darkgrey;
}
.weather-forecast {
  margin-top: 16px;
  text-align: center;
  color: rgb(178, 221, 231);
}
.btn-search {
  padding: 6px 27px;
  margin-left: 20px;
  background: #77b2b6;
  border-radius: 5px;
  color: #fff;
  border: 1px solid #a8c2c4;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.btn-search:hover {
  background: white;
  color: #78b7bb;
}
.weather-forecast-date {
  font-size: 16px;
  color: rgb(158, 210, 235);
}

.weather-forecast-temp-min {
  opacity: 0.5;
}
.weather-forecast-temp {
  font-size: 15px;
}
small {
  color: white;
}
